@font-face {
    font-family: 'Quantico';
    src: url('/fonts/Quantico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
main::-webkit-scrollbar {
    width: 0;
}
@media (min-width: 1279px) {
    main::-webkit-scrollbar {
        width: 6px;
    }
}
main::-webkit-scrollbar-track {
    background: rgb(30, 30, 30);
    backdrop-filter: blur(10px);
    border-radius: 9999px;
}
main::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 9999px;
}
div::-webkit-scrollbar {
    width: 0;
}
div::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
div::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}

.perspective-container-left {
}
@media (min-width: 1279px) {
    .tilt-box-left {
        transform: perspective(700px) rotateY(7deg);
        transition: transform 0.3s ease;
    }
}
.perspective-container-left:hover .tilt-box-left {
    /* transform: perspective(700px) rotateY(10deg); */
}
@layer utilities {
    .bg-background-blur {
        background-color: rgba(32, 32, 32, 0.8);
        backdrop-filter: blur(10px);
    }
}
button.active {
    color: #96f358;
}

button.active svg {
    color: #96f358;
}
button.activefeedback {
    background-color: #96f358;
}
.your-card-class {
    transition: transform 0.2s ease, opacity 0.2s ease;
}